{% extends 'admin_panel/basic.html' %}
{% block title %}صفحه شروع | کنترل پنل{% endblock title %}
{% block content %}
<section class="content-header">
    <h1>
        صفحه شروع
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> خانه</a></li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3>{{books.count}}</h3>

                    <p>کتاب ها</p>
                </div>
                <div class="icon">
                    <i class="fa fa-book"></i>
                </div>
                <a href="{% url 'books_admin' %}" class="small-box-footer">
                    اطلاعات بیشتر <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{authors.count}}<sup style="font-size: 20px"></sup></h3>

                    <p>نویسنده</p>
                </div>
                <div class="icon">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                <a href="{% url 'authors_admin' %}" class="small-box-footer">
                    اطلاعات بیشتر <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{publishers.count}}</h3>

                    <p>ناشر</p>
                </div>
                <div class="icon">
                    <i class="fa fa-print"></i>
                </div>
                <a href="{% url 'publishers_admin' %}" class="small-box-footer">
                    اطلاعات بیشتر <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{translators.count}}</h3>

                    <p>مترجم</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user"></i>
                </div>
                <a href="{% url 'translators_admin' %}" class="small-box-footer">
                    اطلاعات بیشتر <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
    </div>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">کتاب ها</h3>

            <div class="box-tools">
                <form class="input-group input-group-sm" style="width: 150px;" action="{%url 'book_search'%}"
                    method="post">
                    {%csrf_token%}
                    <input type="search" name='search' class="form-control pull-right" placeholder="جستجو">

                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
            <a class="btn btn-info btn-xs" href="{% url 'books_create' %}">اضافه کردن</a>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>شماره</th>
                        <th>عنوان</th>
                        <th>نویسنده</th>
                        <th>ناشر</th>
                        <th>اسلاگ</th>
                        <th>حرکت ها</th>
                    </tr>
                    {% for book in books %}
                    <tr>
                        <td>{{book.id}}</td>
                        <td>{{book.title}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.publisher}}</td>
                        <td>{{book.slug}}</td>
                        <td>
                            <a href="{%url 'book_delete' book.pk %}" class="label-danger">
                                <span class="label label-danger">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </a>
                            <a href="{%url 'book_update' book.pk %}" class="label-primary">
                                <span class="label label-primary">
                                    <i class="fa  fa-pencil-square"></i>
                                </span>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
</section>

{% endblock content %}