{% extends 'admin_panel/base.html' %}
{% load widget_tweaks %}
{% block title %}
ویرایش کتاب
{% endblock %}
{% block content %}
<section class="content-header">
    <h1>
        کتاب ها
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="{% url "admin" %}"> خانه </a></li>
        <li> <a href="{%url 'books_admin' %}">کتاب ها</a></li>
        <li>ویرایش کردن</li>
    </ol>
</section>
<section class="content">
    <form action="{% url 'book_update' object.pk %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {%for field in form %}
        <div class="form-group">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            {% render_field field class+="form-control" %}
            <div>
                <ul>
                    {% for error in field.errors %}
                    <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {%endfor%}
        <button type="submit" class="btn btn-success btn-lg">
            ثبت
        </button>
    </form>
</section>

{% endblock %}