{% extends 'admin_panel/basic.html' %}
{% block title %}
افزودن ژانر
{% endblock %}
{% block content %}
<section class="content-header">
    <h1>
        ایجاد ژانر
    </h1>
    <ol class="breadcrumb">
        <li><i class="fa fa-dashboard"></i> <a href="{% url 'admin' %}"> خانه </a></li>
        <li> <a href="{%url 'genres_admin' %}">ژانر ها</a></li>
        <li>اضافه کردن</li>
    </ol>
</section>
<section class="content">
    <form action="{%url 'genres_create' %}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{form.as_p}}
        <button type="submit" class="btn btn-success btn-lg">
            ثبت
        </button>
    </form>
</section>

{% endblock %}