{% extends 'base.html' %}
{% load static %}
{% block title %}ورود کاربر{% endblock title %}
{% block content %}
<main>
    <form action="{% url 'login' %}" method="post">
        <div class="logo mt-4 to-hide">
            <a href="index.html"><img class="img-fluid login-logo" src="{% static 'images/book-logo.png' %}" alt=""></a>
            <a class="mt-2 logo-text" href="index.html">مدیریت کتابخانه</a>
        </div>
        {% csrf_token %}
        <div class="inputs mt-4 to-hide">
            <div class="input-box">
                {{form.username}}
                <span>نام کاربری</span>
            </div>
            <div class="input-box">
                {{form.password}}
                <span>رمز عبور</span>
            </div>
            <div class="input-box">
                <input type="submit" value="ورود">
            </div>
            <div class="box mt-4">
                <p class="text-white">حساب کاربری ندارید؟ <a href="./signup.html">ساخت حساب کاربری</a></p>
                <p class="text-white"><a href="">فراموشی رمز عبور</a></p>
            </div>
        </div>
    </form>
</main>

{% endblock content %}