{% extends 'base.html' %}
{% load static %}
{% block title %}ایجاد حساب کاربری{% endblock title %}
{% block content %}
<main>
    <form action="{% url 'register' %}" method="post">
        <div class="logo mt-4 to-hide">
            <a href="index.html"><img class="img-fluid login-logo" src="{% static 'images/book-logo.png' %}" alt=""></a>
            <a class="mt-2 logo-text" href="index.html">مدیریت کتابخانه</a>
        </div>
        {% csrf_token %}
        <div class="inputs mt-2 to-hide">
            <div class="two-side">
                <div class="input-box">
                    {{form.first_name}}
                    {{form.first_name.errors}}
                    <span>نام</span>
                </div>
                <div class="input-box">
                    {{form.last_name}}
                    {{form.last_name.errors}}
                    <span>نام خانوادگی</span>
                </div>
            </div>
            <div class="input-box">
                {{form.username}}
                {{form.username.errors}}
                <span>نام کاربری</span>
            </div>
            <div class="input-box">
                {{form.email}}
                {{form.email.errors}}
                <span>ایمیل</span>
            </div>
            <div class="two-side">
                <div class="input-box">
                    {{form.password1}}
                    {{form.password1.errors}}
                    <span>رمز عبور</span>
                </div>
                <div class="input-box">
                    {{form.password2}}
                    {{form.password2.errors}}
                    <span>تکرار رمز عبور</span>
                </div>
            </div>
            <div class="input-box">
                <input type="submit" value="ساخت حساب کاربری">
            </div>
            <div class="box mt-4 text-center">
                <p class="text-white">حساب کاربری دارید؟ <a href="./login.html">ورود به حساب کاربری</a></p>
            </div>
        </div>
    </form>
</main>

{% endblock content %}