{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="">

<!-- index-2.html  30 Nov 2019 03:25:25 GMT -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/book-logo-2.png' %}">

    <!-- fontawesome css link -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
    <!-- flaticon css -->
    <link rel="stylesheet" href="{% static 'assets/font/flaticon.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
    <!-- nice-select css -->
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <!-- bootstrap css link -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <!-- swipper css link -->
    <link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/fav.png" type="image/x-icon' %}">
    <!-- animate.css -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">
    <!-- main style css link -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- responsive css link -->
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">


</head>

<body>


    <!-- preloader -->
    <div class="preloader" id="preloader">
        <div class="preloader-thumb">
            <img src="{% static 'assets/images/book-logo-2.png' %}" alt="image">
        </div>
    </div>

    <!-- header-section start -->
    <header class="header-section">
        <div class="header-bottom">
            <div class="container">

                <div class="row align-items-center justify-content-between">
                    <a class="site-logo site-title" href="index.html">
                        <img src="{% static 'assets/images/book-logo-2.png' %}" alt="site-logo" width="50">
                    </a>
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fas fa-bars"></span>
                    </button>
                    <nav class="navbar navbar-expand-lg p-0">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav main-menu ml-auto">
                                <li><a href="">خانه</a></li>
                                <li class="menu_has_children"><a href="#0">کتاب ها</a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- header-section end -->

    {% block content %}{% endblock content %}



    <!-- footer-section start -->
    
    <div class="privacy-area wow fadeIn" data-wow-duration="0.5" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p><a href="templateshub.net">Templates Hub</a> </p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer-section end -->





    <!-- jquery -->
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <!-- migarate-jquery -->
    <script src="{% static 'assets/js/jquery-migrate-3.0.0.js' %}"></script>
    <!-- bootstrap js -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <!-- magnific-popup js -->
    <script src="{% static 'assets/js/jquery.magnific-popup.js' %}"></script>
    <!-- isotope -->
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <!-- nice-select js-->
    <script src="{% static 'assets/js/jquery.nice-select.js' %}"></script>
    <!-- swipper js -->
    <script src="{% static 'assets/js/swiper.min.js' %}"></script>
    <!-- waypoints js link -->
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
    <!-- counterup js -->
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <!-- paroller js -->
    <script src="{% static 'assets/js/jquery.paroller.min.js' %}"></script>
    <!-- main -->
    <script src="{% static 'assets/js/main.js' %}"></script>


</body>

<!-- index-2.html  30 Nov 2019 03:28:16 GMT -->

</html>