@import url("../fonts/fonts.css");


:root{
    --main-clr: #000022;
    --secondary-clr: #F8E7D7;
    --main-clr-low-opacity: #000022cc;
    --secondary-clr-low-opacity: #f8e7d7ef;
    --input-color: #1d2b3a;
    
}

a{
    text-decoration: none !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sahel, sans-serif;
    /* font-family: Vazir, sans-serif; */

}

body{
    padding: 0;
    font-family: Sahel, sans-serif;
    /* font-family: Vazir, sans-serif; */

    background-color: var(--main-clr) !important;
    
}

.nomargin {margin: 0 !important; padding: 0 !important;}


.navigation{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: var(--secondary-clr);
    position: relative;
    width: 13rem;
    /* position: fixed; */
}
.nav{
    position: static !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 13rem !important; */
}

.book-image{
    width: 5rem;
    height: 5rem;

}

div.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.text{
    font-size: 16px;
    font-weight: bold;
}

div.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-image{
    width: 2rem;
    height: 2rem;
}

.line{
    margin: 15px 0;
    width: 100%;
    height: 1.5px;
    background: var(--main-clr);
}

.profile-name{
    font-size: 14px;
    font-weight: bold;
}

span{
    color: var(--main-clr) !important;
}


ul.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
ul.nav .nav-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3rem 0;
    width: 100% !important;
}

ul.nav .nav-item a{
    display: flex;
    justify-content: flex-start;
    padding: 0.7rem 1.3rem;
    align-items: center;
    width: 90% !important;
    border-radius: 12px;
    height: 3rem;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.6s;
}

ul.nav .nav-item a:hover{
    background-color: var(--main-clr);
    color: var(--secondary-clr) !important;
}

ul.nav .nav-item a:hover span.text-for-menu{
    color: var(--secondary-clr) !important;

}

ul.nav .nav-item a:hover span.icon{
    color: var(--secondary-clr) !important;
}

ul.nav li.active a{
    background-color: var(--main-clr-low-opacity);
    color: var(--secondary-clr) !important;
}

ul.nav li.active a.close span.icon{
    margin: 0;
}

ul.nav li.active a span.text-for-menu{
    color: var(--secondary-clr) !important;
}


ul.nav li a span.text-for-menu{
    /* animation-name: menu-height; */
    /* animation-duration: 2.0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
    overflow: hidden;
}

ul.nav li a span.icon{
    font-size: 20px;
    margin-left: 0.7rem;
    transform: translateY(2px);
}

ul.nav li.active a span.icon{
    color: var(--secondary-clr) !important;
}

.profile-section{
    background-color: var(--main-clr-low-opacity);
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.3rem;
}

.profile-section span.username{
    margin-left: 0.7rem;
    font-size: 0.9rem;
    color: var(--secondary-clr) !important;
    font-weight: bold;
}

.profile-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    outline: 2.5px solid #00cc00;
    outline-offset: 5px;
}

span.logout{
    margin-right: 1rem;
    font-size: 1rem;
    width: 30px;
    height: 30px;
    background-color: var(--main-clr);
    color: var(--secondary-clr-low-opacity) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

span.menu{
    position: absolute;
    left: -2.5rem;
    display: inline-block;
    margin: 0.4rem 0.3rem;
    cursor: pointer;
    color: var(--secondary-clr) !important;
    font-size: 1.7rem;
    cursor: pointer;
    /* z-index: 500000 !important; */
    /* background-color: var(--main-clr) !important; */
    /* color: var(--main-clr) !important; */
    /* margin: 50rem; */
}

span.text-for-menu.deactive{
    display: none;
}

/* menu active section */

.animation-menu{
    animation-name: menu-animation;
    animation-duration: 2.0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes menu-animation {
    0%{
        width: 13rem;
    }
    

    50%{
        width: 16rem;
    }

    75%{
        width: 10rem;
    }

    100%{
        width: 5rem;
    }
}

@keyframes menu-height {
    0%{
        height: 100%;
    }
    100%{
        height: 0;
        /* display: none; */
    }
}

.hide{
    animation-name: hide;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow: hidden !important;
}

@keyframes hide {
    0%{
        height: 100% !important;
    }

    50%{
        opacity: 0.5;
        height: 100% !important;
    }

    100%{
        height: 0 !important;
        opacity: 0;
        display: none;
    }
}

.profile-nomargin{
    margin: 0 !important;
}
.box-two{
    margin-right: 1rem;
}
ul.nav li{
    justify-content: center !important;
    align-items: center !important;
}
ul.nav li a.close{
    animation: close 1 alternate forwards 2.0s;
    width: 3.5rem !important;
    height: 3.5rem !important;
    transition: 2s;
}

@keyframes close {
    to{
        border-radius: 50%;
        justify-content: center;
        align-items: center;
    }
}

a.close span.icon{
    margin: 0 !important;
}

.nav-item.close{
    justify-content: center !important;
    align-items: center !important;
}


@keyframes close-animation {
    from{
        height: 0;
        width: 0 !important;
    }
    to{
        

    }
}

.logo-container-active{
    animation: logo-container 2.0s 1 alternate forwards;
}
.logo-active{
    animation: logo-image 2.0s 1 alternate forwards;
}

@keyframes logo-container {
    from{
        height: 5rem;
    }
    to{
        height: 2rem;
    }
}

@keyframes logo-image {
    from{
        width: 100%;
    }
    to{
        width: 70%;
    }
}


/* show animation */
.show{
    animation: show 2s alternate 1 forwards;
}
@keyframes show {
    0%{
        opacity: 0;
        height: 0 !important;
    }

    50%{
        opacity: 0.5;
        height: 100% !important;
    }

    100%{
        height: 100% !important;
        opacity: 1;
        display: none;
    }
}

.logo-deactive{
    animation: deactive-logo 2s 1 alternate forwards;
}
@keyframes deactive-logo {
    from{
        width: 70%;
    }
    to{
        width: 100%;
    }
}

.logo-container-deactive{
    animation: deactive-logo-container 2s 1 alternate forwards;
}

@keyframes deactive-logo-container {
    from{
        height: 2rem;
    }
    to{
        height: 5rem;
    }
}

.animation-menu-deactive{
    animation-name: menu-animation-deactive;
    animation-duration: 2.0s;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes menu-animation-deactive {
    0%{
        width: 5rem;
    }
    

    50%{
        width: 16rem;
    }

    75%{
        width: 15rem;
    }

    100%{
        width: 13rem;
    }
}

.text-menu-deactive{
    animation: menu-height-deactive 2s 1 forwards alternate
}

@keyframes menu-height-deactive {
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

/* Card Section */
.card-section{
    width: 70% !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 1.5rem;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
}
/* End Card Section */



/* Login and signup form */
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main form{
    width: 30rem;
    height: 42rem;
    background: var(--input-color);
    border-radius: 10px;
}
form.open{
    animation: open-form 2s 1 forwards alternate;
}

@keyframes open-form {
    0%{
        width: 0;
        height: 0;
    }
    25%{
        width: 20rem;
        height: 20rem;
    }
    50%{
        width: 40rem;
    }
    75%{
        width: 35rem;
        height: 40rem;
    }
    100%{
        width: 30rem;
        height: 45rem;
    }

}

form .logo{
    padding: 2rem !important;
    margin: 0 !important;
    background: var(--secondary-clr);
    border-radius: 10px 10px 0 0;
}
form .line{
    margin-top: 0 !important;
}
.login-logo{
    width: 14rem;
    height: 9rem;
    object-fit: cover;
}
.logo-text{
    color: var(--main-clr);
}

.input-box{
    position: relative;
    width: 300px;
    margin-top: 1rem;
}

.input-box input{
    direction: ltr !important;
    width: 100%;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.25) !important;
    background: var(--input-color);
    border-radius: 5px;
    outline: none;
    color: var(--secondary-clr);
    font-size: 1em;
}

.input-box span{
    position: absolute;
    right: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25) !important;
    text-transform: uppercase;
    transition: 0.5s;
}

.inputs{
    height: 15rem;
    display: flex;
    flex-direction: column !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.input-box input:valid ~ span,
.input-box input:focus ~ span{
    color: #00dfc4 !important;
    transform: translateX(-10px) translateY(-10px);
    font-size: 0.9rem;
    padding: 0 10px;
    background: var(--input-color);
    border-left: 1px solid #00dfc4 !important;
    border-right: 1px solid #00dfc4 !important;
}

.input-box input:valid,
.input-box input:focus{
    border: 2px solid #00dfc4 !important;
}

.to-show{
    animation: to-show 2s 1 forwards alternate;
}
@keyframes to-show {
    to{
        opacity: 1;
    }
}

.to-hide{
    opacity: 0;
}

.two-side{
    direction: rtl;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.two-side .input-box{
    width: 140px;
    margin-top: 2rem;
    margin-left: 10px;
    margin-right: 10px;
}
.inputs .box{
    text-align: center;
}

/* End login and signup form */
